cxf_sts_tutorial/service/src/main/resources/CountingService.wsdl

<wsdl:definitions name="CountingService" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://oscm.org/xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" 
	xmlns:wsaw="http://www.w3.org/2005/08/addressing"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" 
	targetNamespace="http://oscm.org/xsd">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://oscm.org/xsd" elementFormDefault="unqualified"
			targetNamespace="http://oscm.org/xsd" version="1.0">
			<xs:element name="sum" type="tns:sum" />
			<xs:element name="sumResponse" type="tns:sumResponse" />
			<xs:complexType name="sum">
				<xs:sequence>
					<xs:element name="paramA" type="xs:int" />
					<xs:element name="paramB" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sumResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sum">
		<wsdl:part element="tns:sum" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sumResponse">
		<wsdl:part element="tns:sumResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountingService">
		<wsdl:operation name="sum">
			<wsdl:input message="tns:sum" name="sum">
			</wsdl:input>
			<wsdl:output message="tns:sumResponse" name="sumResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountingServiceSoapBinding" type="tns:CountingService">
		<wsp:PolicyReference URI="#OSCMBindingPolicy" />
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sum">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sum">
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#OSCMBinding_Input_Policy" />
			</wsdl:input>
			<wsdl:output name="sumResponse">
				<soap:body use="literal" />
				<wsp:PolicyReference URI="#OSCMBinding_Output_Policy" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountingService">
		<wsdl:port binding="tns:CountingServiceSoapBinding" name="CountingServicePort">
			<soap:address
				location="http://localhost:8080/doubleit/services/CountingService" />
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="OSCMBindingPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsam:Addressing wsp:Optional="false">
					<wsp:Policy />
				</wsam:Addressing>
				<sp:SymmetricBinding>
					<wsp:Policy>
						<sp:ProtectionToken>
							<wsp:Policy>
								<sp:IssuedToken
									sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
									<sp:RequestSecurityTokenTemplate>
										<t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1</t:TokenType>
										<t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</t:KeyType>
										<t:KeySize>256</t:KeySize>
									</sp:RequestSecurityTokenTemplate>
									<wsp:Policy>
										<sp:RequireInternalReference />
									</wsp:Policy>
									<sp:Issuer>
										<wsaw:Address>http://localhost:8080/DoubleItSTS/STS</wsaw:Address>
										<wsaw:Metadata>
											<wsx:Metadata>
												<wsx:MetadataSection>
													<wsx:MetadataReference>
														<wsaw:Address>http://localhost:8080/DoubleItSTS/STS/mex</wsaw:Address>
													</wsx:MetadataReference>
												</wsx:MetadataSection>
											</wsx:Metadata>
										</wsaw:Metadata>
									</sp:Issuer>
								</sp:IssuedToken>
							</wsp:Policy>
						</sp:ProtectionToken>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
						<sp:OnlySignEntireHeadersAndBody />
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
					</wsp:Policy>
				</sp:SymmetricBinding>
				<sp:Wss11>
					<wsp:Policy>
						<sp:MustSupportRefIssuerSerial />
						<sp:MustSupportRefThumbprint />
						<sp:MustSupportRefEncryptedKey />
					</wsp:Policy>
				</sp:Wss11>
				<sp:Trust13>
					<wsp:Policy>
						<sp:MustSupportIssuedTokens />
						<sp:RequireClientEntropy />
						<sp:RequireServerEntropy />
					</wsp:Policy>
				</sp:Trust13>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OSCMBinding_Input_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:EncryptedParts>
					<sp:Body />
				</sp:EncryptedParts>
				<sp:SignedParts>
					<sp:Body />
					<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="AckRequested"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="SequenceAcknowledgement"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="Sequence"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="CreateSequence"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<!--CXF uses by default for the docs/200702 ones: Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm"/ -->
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OSCMBinding_Output_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:EncryptedParts>
					<sp:Body />
				</sp:EncryptedParts>
				<sp:SignedParts>
					<sp:Body />
					<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
					<sp:Header Name="AckRequested"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="SequenceAcknowledgement"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="Sequence"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					<sp:Header Name="CreateSequence"
						Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>